In [15]:
import pandas as pd

df = pd.read_csv('pokemon_data.csv')

## Reading Data

In [38]:
#Read the columns / headers
df.columns

#Read a particular column(s)
df['Name']
df['Name'][0:5] #item 0 to item 4
df[['Name','HP','Speed']]

#Read a particular row(s)
df.iloc[1:4] #integer location? something like an index.

#Read a specific location (Row, Column)
df.iloc[2,1]

#Reading rows based on textual information
df.loc[(df['Type 1'] == 'Fire') & (df['Type 2'] == 'Flying')]
#Shows rows with a Type 1 of Fire, and a Type 2 of Flying
#Use the 'and' symbol/ampersand. Do not type out 'and' in letters.
#df.loc[(df['Type 1'] == 'Fire') | (df['Type 2'] == 'Flying')] should also work.
#Epic vertical line character.
df.loc[(df['Type 1'] == 'Fire') & (df['Type 2'] == 'Flying') & (df['Attack'] > 85)]
#non-text conditions also work.

,#,Name,Type 1,Type 2,Legendary,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
8,6,CharizardMega Charizard Y,Fire,Flying,False,634,78,104,78,159,115,100,1
158,146,Moltres,Fire,Flying,True,580,90,100,90,125,85,90,1
270,250,Ho-oh,Fire,Flying,True,680,106,130,90,110,154,90,2

In [40]:
#Looking for a certain text string in a column
df.loc[df['Name'].str.contains('Mega')]
#In this case, shows all the mega evolutions.

#"Not" operator
df.loc[~df['Name'].str.contains('Mega')]
#Shows items under the 'Name' column which DO NOT contain the str 'Mega'.

,#,Name,Type 1,Type 2,Legendary,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
0,1,Bulbasaur,Grass,Poison,False,318,45,49,49,65,65,45,1
1,2,Ivysaur,Grass,Poison,False,405,60,62,63,80,80,60,1
2,3,Venusaur,Grass,Poison,False,525,80,82,83,100,100,80,1
4,4,Charmander,Fire,NaN,False,309,39,52,43,60,50,65,1
5,5,Charmeleon,Fire,NaN,False,405,58,64,58,80,65,80,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
794,718,Zygarde50% Forme,Dragon,Ground,True,600,108,100,121,81,95,95,6
795,719,Diancie,Rock,Fairy,True,600,50,100,150,100,150,50,6
797,720,HoopaHoopa Confined,Psychic,Ghost,True,600,80,110,60,150,130,70,6
798,720,HoopaHoopa Unbound,Psychic,Dark,True,680,80,160,60,170,130,80,6
799,721,Volcanion,Fire,Water,True,600,80,110,120,130,90,70,6

In [48]:
#iterrow function>?
#iterating through list

#for index, row in df.iterrows():
    #print(index, row['Name'])

## Sorting Data

In [30]:
#set ascending=False for descending
df.sort_values(['Name'], ascending=False)

#sort.values also works with multiple columns
df.sort_values(['Type 1', 'HP'], ascending=[1,0]) 
#in this case, ascending is True for Type 1, 
#False for HP. Bug type goes first (B is the first letter alphabetically in Pokemon types)
#HP starts from the highest (for each type), as it is descending

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
520,469,Yanmega,Bug,Flying,86,76,86,116,56,95,4,False
698,637,Volcarona,Bug,Fire,85,60,65,135,105,100,5,False
231,214,Heracross,Bug,Fighting,80,125,75,40,95,85,2,False
232,214,HeracrossMega Heracross,Bug,Fighting,80,185,115,40,105,75,2,False
678,617,Accelgor,Bug,NaN,80,70,40,100,60,145,5,False
...,...,...,...,...,...,...,...,...,...,...,...,...
106,98,Krabby,Water,NaN,30,105,90,25,25,50,1,False
125,116,Horsea,Water,NaN,30,40,70,70,25,60,1,False
129,120,Staryu,Water,NaN,30,45,55,70,55,85,1,False
139,129,Magikarp,Water,NaN,20,10,55,15,20,80,1,False
381,349,Feebas,Water,NaN,20,15,20,10,55,80,3,False

## Modifying Data

In [33]:
#Making a new column named 'Total' for total Pokemon stats
df['Total'] = df['HP'] + df['Attack'] + df['Defense'] + df['Sp. Atk'] + df['Sp. Def'] + df['Speed']
df.head(5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309

In [12]:
#Another way of making a 'Total' column

df['Total'] = df.iloc[:, 4:10].sum(axis = 1)
#df.iloc[Rows, Columns], upper range non-inclusive
#Columns 4 to 9 pertain to Pokemon stats; 4:9 is incorrect as the upper range is non-inclusive.
df.head(5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309

In [37]:
#Rearranging Columns

#df = df[['Total', 'HP', 'Defense']]...
#Manually writing the order of the columns.

#Using lists:

cols = list(df.columns.values)
df = df[cols[0:4] + [cols[-1]] + cols[4:12]]

#Columns 0:4 (0-3) Name until Legendary. Column -1 pertains to the last column (which was
#the 'Total' column previously.) Columns 4:12 (4-11)  HP until Generation.

df.head(5)

,#,Name,Type 1,Type 2,Legendary,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
0,1,Bulbasaur,Grass,Poison,False,318,45,49,49,65,65,45,1
1,2,Ivysaur,Grass,Poison,False,405,60,62,63,80,80,60,1
2,3,Venusaur,Grass,Poison,False,525,80,82,83,100,100,80,1
3,3,VenusaurMega Venusaur,Grass,Poison,False,625,80,100,123,122,120,80,1
4,4,Charmander,Fire,NaN,False,309,39,52,43,60,50,65,1

## Exporting Modified Data

In [ ]:
#Outputs a new file named 'modified.csv' with all the changes that have been made.
df.to_csv('modified.csv')

#Outputs a new file named 'modified.csv' WITHOUT the index numbers on the leftmost column.
#df.to_csv('modified.csv', index=False)

#Outputs a new file named 'modified.xlsx' (EXCEL) 
#df.to_excel('modified.xlsx', index=False)

#Outputs a text file, remember to add a separator.
#df.to_csv('modified.txt', index=False, sep='\t')
#sep = '\t' is a tab separator.

## Regex Filtering

In [7]:
import re

df.loc[df['Type 1'].str.contains('fire|grass', flags=re.I, regex=True)]
#'fire|grass' means fire OR grass; | means 'or' with regex.
#flags = re.I denotes ignoring capitalization; NOT case-sensitive.
df.loc[df['Name'].str.contains('^pi[a-z]*', flags=re.I, regex=True)]
#shows Pokemon names which START with 'pi' (denoted by the ^ character)
#[a-z]* means that 'pi' can be followed by any character and any no. of characters.

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
20,16,Pidgey,Normal,Flying,40,45,40,35,35,56,1,False
21,17,Pidgeotto,Normal,Flying,63,60,55,50,50,71,1,False
22,18,Pidgeot,Normal,Flying,83,80,75,70,70,101,1,False
23,18,PidgeotMega Pidgeot,Normal,Flying,83,80,80,135,80,121,1,False
30,25,Pikachu,Electric,NaN,35,55,40,50,50,90,1,False
136,127,Pinsir,Bug,NaN,65,125,100,55,70,85,1,False
137,127,PinsirMega Pinsir,Bug,Flying,65,155,120,65,90,105,1,False
186,172,Pichu,Electric,NaN,20,40,15,35,35,60,2,False
219,204,Pineco,Bug,NaN,50,65,90,35,35,15,2,False
239,221,Piloswine,Ice,Ground,100,100,80,60,60,50,2,False
438,393,Piplup,Water,NaN,53,51,53,61,56,40,4,False
558,499,Pignite,Fire,Fighting,90,93,55,70,55,55,5,False
578,519,Pidove,Normal,Flying,50,55,50,36,30,43,5,False

## Conditional Changes

In [9]:
df.loc[df['Type 1'] == 'Fire', 'Type 1'] = 'Flamer'
#Checks if the column 'Type 1' contains 'Fire', then changes it to 'Flamer' if conditions are met.

df.head(20)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Flamer,NaN,39,52,43,60,50,65,1,False
5,5,Charmeleon,Flamer,NaN,58,64,58,80,65,80,1,False
6,6,Charizard,Flamer,Flying,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Flamer,Dragon,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Flamer,Flying,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,44,48,65,50,64,43,1,False
10,8,Wartortle,Water,NaN,59,63,80,65,80,58,1,False
11,9,Blastoise,Water,NaN,79,83,100,85,105,78,1,False
12,9,BlastoiseMega Blastoise,Water,NaN,79,103,120,135,115,78,1,False
13,10,Caterpie,Bug,NaN,45,30,35,20,20,45,1,False
14,11,Metapod,Bug,NaN,50,20,55,25,25,30,1,False
15,12,Butterfree,Bug,Flying,60,45,50,90,80,70,1,False
16,13,Weedle,Bug,Poison,40,35,30,20,20,50,1,False
17,14,Kakuna,Bug,Poison,45,25,50,25,25,35,1,False
18,15,Beedrill,Bug,Poison,65,90,40,45,80,75,1,False
19,15,BeedrillMega Beedrill,Bug,Poison,65,150,40,15,80,145,1,False

In [13]:
df.loc[df['Total'] > 500, ['Generation','Legendary']] = 'Test Value'
#Checks if the 'Total' column has values that exceed 500, and changes 'Generation' and 'Legendary'
#to 'Test Value' if conditions are met.
#'Test Value' can be changed to ['Test 1'. 'Test 2'] to set separate values for 'Generation'
#and 'Legendary' respectively.
df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,Test Value,Test Value,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,Test Value,Test Value,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,Test Value,Test Value,600
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,Test Value,Test Value,700
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,Test Value,Test Value,600
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,Test Value,Test Value,680
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,Test Value,Test Value,600

## Aggregate Statistics via Groupby

In [23]:
df.groupby(['Type 1']).mean()
#Pokemon stat averages, grouped by 'Type 1'

df.groupby(['Type 1']).mean().sort_values('Defense', ascending=False)
#Checks which Pokemon type has the highest Defense stat

C:\Users\Ranon\AppData\Local\Temp\ipykernel_13368\4068920206.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby(['Type 1']).mean()
C:\Users\Ranon\AppData\Local\Temp\ipykernel_13368\4068920206.py:4: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby(['Type 1']).mean().sort_values('Defense', ascending=False)

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Type 1,,,,,,,,,
Steel,442.851852,65.222222,92.703704,126.370370,67.518519,80.629630,55.259259,3.851852,0.148148
Rock,392.727273,65.363636,92.863636,100.795455,63.340909,75.477273,55.909091,3.454545,0.090909
Dragon,474.375000,83.312500,112.125000,86.375000,96.843750,88.843750,83.031250,3.875000,0.375000
Ground,356.281250,73.781250,95.750000,84.843750,56.468750,62.750000,63.906250,3.156250,0.125000
Ghost,486.500000,64.437500,73.781250,81.187500,79.343750,76.468750,64.343750,4.187500,0.062500
Water,303.089286,72.062500,74.151786,72.946429,74.812500,70.517857,65.964286,2.857143,0.035714
Ice,423.541667,72.000000,72.750000,71.416667,77.541667,76.291667,63.458333,3.541667,0.083333
Grass,344.871429,67.271429,73.214286,70.800000,77.500000,70.428571,61.928571,3.357143,0.042857
Bug,334.492754,56.884058,70.971014,70.724638,53.869565,64.797101,61.681159,3.217391,0.000000
Dark,461.354839,66.806452,88.387097,70.225806,74.645161,69.516129,76.161290,4.032258,0.064516
Poison,251.785714,67.250000,74.678571,68.821429,60.428571,64.392857,63.571429,2.535714,0.000000
Fire,327.403846,69.903846,84.769231,67.769231,88.980769,72.211538,74.442308,3.211538,0.096154
Psychic,380.807018,70.631579,71.456140,67.684211,98.403509,86.280702,81.491228,3.385965,0.245614
Electric,363.500000,59.795455,69.090909,66.295455,90.022727,73.704545,84.500000,3.272727,0.090909
Flying,677.750000,70.750000,78.750000,66.250000,94.250000,72.500000,102.500000,5.500000,0.500000
Fighting,363.851852,69.851852,96.777778,65.925926,53.111111,64.703704,66.074074,3.370370,0.000000
Fairy,449.529412,74.117647,61.529412,65.705882,78.529412,84.705882,48.588235,4.117647,0.058824
Normal,319.173469,77.275510,73.469388,59.846939,55.816327,63.724490,71.551020,3.051020,0.020408

In [42]:
df.groupby(['Type 1']).sum()
#Properties summed up, though in this case it doesn't really make sense to use sum.

df.groupby(['Type 1']).count().sort_values('#', ascending=False)
#Shows how many Pokemon are of a certain type

df.groupby(['Type 1','Type 2']).count()
#Shows the secondary type distribution of the different primary types
#e.g. Of the Bug types, two Pokemon have a secondary electric type.

df.loc[(df['Type 1'] == 'Fire')].groupby(['Type 1','Type 2']).count()
#Shows the secondary type distribution of a PARTICULAR primary type (via the
#use of df.loc), which is 'Fire' in this case.

C:\Users\Ranon\AppData\Local\Temp\ipykernel_13368\374509376.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby(['Type 1']).sum()

                 #  Name  HP  Attack  Defense  Sp. Atk  Sp. Def  Speed  \
Type 1 Type 2
Fire   Dragon    1     1   1       1        1        1        1      1
       Fighting  7     7   7       7        7        7        7      7
       Flying    6     6   6       6        6        6        6      6
       Ground    3     3   3       3        3        3        3      3
       Normal    2     2   2       2        2        2        2      2
       Psychic   2     2   2       2        2        2        2      2
       Rock      1     1   1       1        1        1        1      1
       Steel     1     1   1       1        1        1        1      1
       Water     1     1   1       1        1        1        1      1

                 Generation  Legendary
Type 1 Type 2
Fire   Dragon             1          1
       Fighting           7          7
       Flying             6          6
       Ground             3          3
       Normal             2          2
       Psychic            2          2
       Rock               1          1
       Steel              1          1
       Water              1          1